*{
    margin: 0;
    padding: 0;
}

header{
   min-height: 100vh;
   width: 100%;
   background-image:linear-gradient(rgba(9, 15, 42, 0.7),rgba(7, 12, 31, 0.7)),url(../assets/images/backGround11.jpeg);
   background-position: center;
   background-size: cover;
   position: relative;
}


nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav a{
    text-decoration: none;
}

nav h1{
    color: #fff;
    font-size: 30px;
}

.head{
    flex: 1;
    text-align: right;
}

.head>ul>li{
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
}

.head ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.head ul li a::after{
    content: '';
    width:0%;
    height: 2px;
    background:#f44336;
    display:block;
    margin: auto;
    transition: 0.5s;
}
.head ul li a:hover::after{
    width: 100%;
}


.ban{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.ban h1{
    font-size: 62px;
}
.ban p{
    margin:10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.ban-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.ban-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width:700px){
    .ban h1{
        font-size: 30px;
    }
    .ban h2{
        font-size: 20px;
    }
    .head>ul>li{
        display:block;
    }
    .head{
        position:absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top:0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .head ul{
        padding: 10px; 
    }
}

